#!/bin/bash
### MODIFY THIS SCRIPT AS NEEDED

function source_ws_file {
  SRC_FILE_SCRIPT=$1
  if [ -f "$SRC_FILE_SCRIPT" ]; then
    source "$SRC_FILE_SCRIPT"
  else
    yellow=`tput setaf 3`
    reset=`tput sgr0`
    echo "${yellow}The source file \"$SRC_FILE_SCRIPT\" was not found, rebuild the workspace${reset}"
  fi
}

source_ws_file $WS_SOURCE_FILE

